{block styles}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/../app/js/fullcalendar/fullcalendar.css">
    {if !$user->isInRole('confirmed')}
        <link rel="stylesheet" type="text/css" href="{$basePath}/../app/css/log-reg-background.css">
    {/if}
{/block}

{block scripts}

    <script type="text/javascript" src="{$basePath}/../app/js/lib/moment.min.js"></script>
    <script type="text/javascript" src="{$basePath}/../app/js/fullcalendar/fullcalendar.min.js"></script>
    <script type="text/javascript" src="{$basePath}/../app/js/fullcalendar/locale-all.js"></script>
    <script type="text/javascript" src="{$basePath}/../app/js/side-bar-control.js"></script>

    <script type="text/javascript">

        let lastEventId = {$lastEventId};
        if(lastEventId === null)
            lastEventId = 0;

        $(document).ready(function(){
            $('#calendar').fullCalendar({
                eventLimit: true,
                height: 'parent',
                allDay: true,
                firstDay: 1,
                dayClick: function(date){
                    $("#eventFormModal").modal('toggle');
                    $("#event-start, #event-end").val(date.format());
                },
                events: {
                    url: {$basePath}+'/../app/model/FullCalendarFeed.php',
                    type: 'GET',
                    data: {
                        userId: {$user->getId()}
                    }
                }
            });

            $('#event-submit').click(function(){
                let title = $('#event-title').val();
                let start = moment($('#event-start').val());
                let end = moment($('#event-end').val());
                if(title !== "" && start !== "" && end !== ""){
                    if(start.isValid() && end.isValid()) {
                        $('#calendar').fullCalendar('renderEvent', {
                            id: lastEventId+1,
                            title: title,
                            start: start,
                            end: end,
                            allDay: true
                        });
                        ++lastEventId;
                    }
                }
            });

            $(document).on('click', '.event-delete', function(){
                $('#calendar').fullCalendar('removeEvents', [$(this).attr('id')]);
                $.nette.ajax({
                    type: 'POST',
                    url: {link removeEvent!},
                    data: {
                        'eventId': $(this).attr('id')
                    },
                    success: function(payload){
                        lastEventId = payload.lastEventId;
                    }
                });
            });

        });

    </script>

{/block}

{block content}

    {if $user->loggedIn}

        {if $user->isInRole('confirmed')}

            <div id="homepage-wrapper">
                <div id="heading-wrapper">
                    <h1>Eventer</h1>
                    <a class="btn btn-lg btn-primary" n:href="logout!">Logout</a>
                </div>
                <div class="spacer"></div>
                <div class="clearfix" id="content-wrapper">
                    <div class="col-12" id="calendar"></div>
                </div>
                <button class="btn btn-lg" id="toggle-events-list">Events list</button>
            </div>

            <div class="side-list side-list-hidden" id="events-list-wrapper">
                <h2>Near events:</h2>
                <a href="javascript:void(0)" id="close-btn"><i style="font-size:30px" class="fa">&#xf00d;</i></a>
                <ul>
                    {snippet closeEventsSnippet}
                        {foreach $closeEvents as $closeEvent}
                            <li>{$closeEvent['title']}, {$closeEvent['start']} <a href="javascript:void(0)"><i style="font-size:25px" class="fa event-delete" id="{$closeEvent['id']}">&#xf00d;</i></a></li>
                        {/foreach}
                    {/snippet}
                </ul>
            </div>

            <div class="modal fade" id="eventFormModal" tabindex="-1" role="dialog" aria-labelledby="eventFormModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="eventFormModalLabel">Add event</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {control eventForm}
                            {snippet eventAddFormSnippet}
                                {foreach $flashes as $flash}
                                    <p class="flash {$flash->type}">{$flash->message}</p>
                                {/foreach}
                            {/snippet}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        {else}

            <div id="confirmation-alert" class="alert alert-warning">
                <p>Please activate Your account by link sent to Your e-mail {$user->getIdentity()->data[0]}.</p>
                <a n:href="logout!" class="btn btn-lg btn-primary">Back</a>
            </div>

        {/if}

    {else}

        <div class="form-wrapper centered col-11 col-md-6 col-lg-5 col-xl-3">
            <h1 n:block="title">Eventer</h1>
            {control signInForm}
            <a n:href="Register:" class="btn btn-lg btn-block btn-secondary">Register</a>
        </div>

    {/if}

{/block}

{if $user->loggedIn}
    {define modal-addEvent-title}
        Add event
    {/define}
    {define modal-addEvent-body}
        {control eventForm}
        {foreach $flashes as $flash}
            <p class="flash {$flash->type}">{$flash->message}</p>
        {/foreach}
    {/define}
{else}
    {define modal-signIn-title}
        Sign in message
    {/define}
    {define modal-signIn-body}
        {foreach $flashes as $flash}
            <p class="flash {$flash->type}">{$flash->message}</p>
        {/foreach}
    {/define}
    {define modal-signIn-footer}
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
    {/define}
{/if}
