.admin-section-wrapper{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 70px);
    padding-top: 52px;
}
.admin-section-wrapper:after, .form-group:after{
  content: "";
  display: table;
  clear: both;
}
.rstools-categories-wrapper{
    width: 30%;
    float: left;
}
.rstools-categories-wrapper li{
    width: 100%;
    height: auto;
    margin-top: 0!important;
}
.rstools-categories-wrapper li a{
    position: relative;
    border-radius: 0px;
    width: 85%;
    padding: 15px;
    font-size: 14px;
    background-color: #EEE;
    color: #CCC;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.rstools-categories-wrapper li:hover a{
    background-color: #5BC0DE;
    color: #FFF;
}
.rstools-categories-wrapper li:hover a, .rstools-categories-wrapper li.active a{
    width: 100%;
    border-radius: 0px 5px 5px 0px;
}
.rstools-categories-wrapper li.active a{
    box-shadow: 0px 0px 7px #777;
    z-index: 1000;
}
.rstools-categories-wrapper li.active a, .rstools-categories-wrapper li.active a:focus, .rstools-categories-wrapper li.active a:hover{
    background-color: #31B0D5;
}
.tab-content-wrapper{
    width: 70%;
    float: left;
    padding: 13px 25px 13px 40px;
}
.form-group{
    margin-bottom: 30px;
}
.tab-content h2{
    margin-bottom: 20px;
}
.tab-content h3{
    font-size: 28px;
    margin: 25px 0px 10px 0px;
}
.tab-content label{
    font-size: 15px;
    margin: 20px 0px 5px 0px;
}
.input-file, .title-photo-edit-file{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
#photo-add-label, .article-add-title-photo-label2, .title-photo-edit-label{
    display: block;
	cursor: pointer; /* "hand" cursor */
    margin: 30px 0px!important;
    font-size: 16px;
}
.article-add-title-photo-label1{
    margin: 20px 0px 5px 0px!important;
}
.article-add-title-photo-label2{
    margin: 0px 0px 10px 0px!important;
}
.article-add-title-photo-label2:last-of-type{
    margin: 0px 0px 30px 0px!important;
}
.input-file:focus + label{
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
#photo-add-label span:last-child, .article-add-title-photo-label2 span:last-child{
    position: relative;
    top: -4px;
}
.glyphicon{
    padding-right: 8px;
    position: relative;
    top: 3px;
}
#photo-add-label .glyphicon, .article-add-title-photo-label2 .glyphicon{
    font-size: 25px;
    line-height: 1.42857143;
}
#photo-add-form .btn, #article-add-form .btn{
    width: 30%;
    min-width: 200px;
}
.modal{
    padding-top: 100px;
    overflow: hidden;
}
.modal h3{
    font-size: 20px;
    margin: auto;
}
.modal h4{
    text-align: left;
}
.modal .image{
    max-width: 600px;
    max-height: 400px;
    margin: 20px 0px;
}
.modal label{
    width: 100%;
    text-align: left;
}
.photo-edit-table, .galery-edit-table, .article-edit-table, .category-edit-table{
    margin-top: 30px;
}
.article-edit-table tbody tr td{
    position: relative!important;
}
.photo-edit-table h3, .galery-edit-table h3, .article-edit-table h3, .category-edit-table h3{
    font-size: 24px;
}
.photo-edit-table p, .galery-edit-table p, .article-edit-table p, .category-edit-table p{
    font-size: 16px;
}
.photo-editt-table tbody tr, .galery-edit-table tbody tr, .article-edit-table tbody tr, .category-edit-table tbody tr{
    width: 100%;
    height: auto;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.article-edit-table tbody tr{
    display: block;
    margin-bottom: 10px;
}
.photo-edit-table tbody tr:hover{
    background-color: transparent;
}
.photo-edit-table tbody tr td, .galery-edit-table tbody tr td, .article-edit-table tbody tr td, .category-edit-table tbody tr td{
    width: 100%;
    height: 80px;
    padding: 25px 10px;
}
.photo-edit-table tbody tr td{
    padding: 8px!important;
}
.article-edit-table tbody tr td{
    display: block;
    min-height: 130px;
    height: auto;
}
.galery-edit-table h3, .article-edit-table h3, .category-edit-table h3{
    height: 40px;
    margin: 0px 0px 10px 0px;
    line-height: 40px;
}
.photo-edit-thumbnail-underlay, .photo-edit-full-underlay{
    background-color: #5BC0DE;
}
.photo-edit-thumbnail{
    width: 100%;
    min-width: 200px;
    min-height: 200px;
    background-size: cover;
    background-position: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.photo-edit-thumbnail:hover{
    cursor: pointer;
    opacity: 0.8;
}
.photo-edit-full-wrapper{
    padding-bottom: 25px;
}
.photo-edit-full{
    width: 100%;
    min-width: 400px;
    min-height: 400px;
    background-size: cover;
    background-position: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.photo-edit-full:hover{
    cursor: pointer;
    opacity: 0.8;
}
.btn{
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease; 
}
.galery-edit-description, .article-edit-description, .category-edit-description{
    width: 50%;
    height: 80px;
    float: left;
}
.photo-edit-buttons{
    width: 100%;
    margin: 20px 0px;
}
.galery-edit-buttons, .article-edit-buttons, .category-edit-buttons{
    position: relative;
    width: 50%;
    height: 80px;
    float: left;
}
.delete-button{
    margin-left: 10px;
    color: #FFFFFF;
}
.galery-edit-buttons button, .article-edit-buttons button, .category-edit-buttons button{
    position: absolute;
    bottom: 0px;
}
.galery-edit-buttons .delete-button, .article-edit-buttons .delete-button, .category-edit-buttons .delete-button{
    right: 0px;
}
.galery-edit-buttons .edit-button{
    right: 152px;
}
.article-edit-buttons .edit-button{
    right: 154px;
}
.category-edit-buttons .edit-button{
    right: 169px;
}
input.galery-display, input.category-display{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    margin: 20px 5px 0px 0px;
    line-height: 20px;
}
label.display-label{
    display: block;
    float: left;
    width: auto;
    padding-bottom: 5px;
    line-height: 20px;
}
.multiple-info-msg{
    margin-left: 26px;
}
#article-add-content, #opening-layer-modification textarea, #footer-user-variable-content textarea{
    min-height: 150px;
    max-width: 100%;
}
.article-edit-bg{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.1;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.article-edit-table tbody tr:hover .article-edit-bg{
    opacity: 0.15;
}
textarea{
    max-width: 100%!important;
}
.article-edit-modal textarea{
    min-height: 150px!important;
}
.article-title-photo-thumbnail{
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 225px;
}
.article-edit-modal .title-photo-edit-label{
    min-width: 250px;
    width: 40%;
    padding: 15px;
}
.header-edit-buttons, .opening-layer-edit-button, .opening-layer-bg-edit-buttons, .footer-edit-buttons{
    margin-top: 25px;
}
#header-edit-default, #footer-edit-default{
    margin-left: 10px;
}
.opening-layer-background-underlay{
    background-color: #5BC0DE;
}
.opening-layer-background{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.opening-layer-background:hover{
    opacity: 0.8;
    cursor: pointer;
}
.opening-layer-bg-edit-list{
    width: 100%;
    height: 200px;
    margin: 15px auto auto auto;
    background-size: cover;
    background-position: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.opening-layer-bg-edit-list:hover{
    cursor: pointer;
}
.opening-layer-background-underlay p,#opening-layer-background{
    display: none;
}
.contacts-section{
    margin: 25px 0px 5px 0px;
    font-size: 25px;
}