body{
     background-color: #000!important;
}
.blog-content-wrapper{
    position: relative;
    min-height: 90vh;
    height: auto;
    padding-top: 70px;
    background-color: #000;
    color: #EEE;
}
.blog-title, .article-title-top{
    width: 100%;
    padding: 40px 0px 60px 60px;
    font-size: 55px;
    text-transform: uppercase;
    color: #FFF;
}
.article-wrapper{
    width: 66%;
    min-height: 200vh;
    height: auto;
    margin: 0% 17%;
    padding-bottom: 250px;
    background-color: #000;
}
.single-article-wrapper{
    min-height: 50vh;
}
.article-title-photo-underlay{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #5BC0DE;
}
.article-title-photo{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
.article-title-photo-underlay:hover .article-title-photo{
    opacity: 0.8;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
.article-title-photo-underlay:hover .single-article-title-photo{
    opacity: 1;
}
.article-wrapper h3, .article-wrapper p{
    margin-bottom: 15px;
}
.article-title{
    display: inline!important;
    text-align: left;
    color: #EEE;
    font-size: 30px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
.article-title:hover{
    color: #5BC0DE;
}
.single-article-title:hover{
    color: #EEE;
}
.article-wrapper p{
    font-size: 16px;
}
.article-link-wrapper{
    margin-top: 50px;
}
.article-wrapper .article-link-wrapper a{
    display: block;
    padding: 2%;
    border-radius: 5px;
    border: 1px solid #EEE;
    text-align: center;
    font-size: 18px;
    color: #EEE;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
.article-wrapper p:last-child a:hover{
    color: #000;
    background-color: #EEE;
}
.article-inner-gallery-wrapper{
    margin-top: 80px;
}
.article-inner-gallery-wrapper a{
    display: inline-block;
    width: 200px;
    height: 135px;
    overflow: hidden;
    background-color: #5BC0DE;
}
.inner-photo-thumbnail{
    width: 200px;
    height: 135px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
.article-inner-gallery-wrapper a:hover .inner-photo-thumbnail{
    opacity: 0.8;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
.filter-toggle-wrapper{
    position: relative;
    z-index: 100;
    width: 66%;
    margin: 25px 17%;
    text-align: center;
}
.category-select-form{
    position: relative;
    z-index: 100;
    width: 66%;
    margin: 0% 17%;
    padding-bottom: 50px;
    color: #000;
}
.category-select-form input, .filter-toggle-wrapper button{
    margin: 15px 0px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #EEE;
    background-color: transparent;
    color: #EEE;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
.category-select-form input:hover, .filter-toggle-wrapper button:hover{
    background-color: #EEE;
    color: #000;
}
.category-select-form input:last-child{
    margin-left: 10px;
}
.pagination-info-wrapper, .pagination-controls-wrapper{
    position: relative;
    width: 66%;
    margin: 0% 17%;
    padding: 30px 0px;
    text-align: center;
    font-size: 16px;
}
.pagination-controls-wrapper{
    padding: 15px 0px;
    height: 50px;
}
.pagination-controls-wrapper a{
    color: #EEE;
}
.middle{
    font-size: 20px;
}
.middle a{
    margin: 0px 6px;
    border-bottom: 2px solid #EEE;
}
.first, .last, .previous, .next{
    position: absolute;
    top: 0px;
    display: inline-block;
    padding: 15px;
    border: 1px solid #EEE;
    border-radius: 5px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.first:hover, .last:hover, .previous:hover, .next:hover{
    background-color: #EEE;
    color: #000;
}
.pagination-controls-wrapper .first{
    left: 0px;
}
.pagination-controls-wrapper .last{
    right: 0px;
}
.pagination-controls-wrapper .previous{
    left: 120px;
}
.pagination-controls-wrapper .next{
    right: 107px;
}
footer{
    margin-top: 80px;
}
.empty-blog-msg{
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #777;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.blog-content-wrapper:hover .empty-blog-msg{
    color: #CCC;
}
#empty-blog-info-modal{
    margin-top: 100px;
    color: #333;
}
.modal-footer > h4{
    text-align: left;
    font-size: 20px;
}
.block-backup-link{
    width: 100%;
    clear: both;
}
.block-backup-link > a{
    display: block;
    width: 100%;
    padding: 75px 0px;
    text-align: center;
    font-size: 25px;
    background-color: #000;
    color: #FFF;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    border-bottom: 1px solid #CCC;
}
.block-backup-link > a:hover{
    background-color: #FFF;
    color: #000;
}