/* DEFAULT CSS STYLES FOR COLLAPSED NAVIGATION */

.collapsed_navigation {
    width: 100%; /* Šířka collapsed nabídky pro malá rozlišení */
    position: absolute; /* Napozicování nabídky vzhledem k levému hornímu rohu dokumentu */
    top: 100%; /* Odsazení o výšku primární nabídky -> výšku loga */
    display: none; /* Výchozí stav nabídky -> nezobrazena */
    height: 70px;
}
.main_menu_collapsed{
    display: none; /* Skrytí položek collapsed menu ve výchozím zobrazení */
    background-color: #EEE; /* Zajištění čistoty barvy pozadí položek nabídky */
    text-align: center; /* Zarovnání textu položek na střed */
    max-height: 400px; /* Maximální výška vysouvací nabídky */
}
.collapsed_navigation a{
    background-color: #EEE; /* Barva pozadí položek nabídky */
}
#pull{
    height: 70px; /* Výška #pull odkazu pro vysunutí nabídky collapsed */
    position: relative; /* Napozicování #pull -> možnost pozicovat vnořený span s textem */
    background-color: #CCC;
    color: #000; /* Barva textu ve span */
}
#pull span{
    position: absolute;
    right: 80px; /* Odsazení textu od pravé strany #pull */
}
#pull:after{
    content:""; /* Přidání prázdného obsahu  dovnitř #pull*/
    background: url('../images/nav_icon.png') no-repeat left; /* Přidání ikony do rozklikávacího tlačítka */
    background-size: cover;
    width: 35px;
    height: 35px; /* Šířka a výška ikony -> pozadí prádného obsahu */
    display: inline-block; /* Zobrazení obsahu jako oblokové elementu v řadě */
    position: absolute; /* Pozicování vzhledem k okraji tlačítka */
    right: 10px;
    top: 17.5px; /* Odsazení ikony zprava a shora uvnitř tlačítka #pull */
}
#pull:hover:after{
    background: url('../images/nav_icon.png') no-repeat right; /* Posunutí ikony tlačítka při najetí myši */
    background-size: cover;
}
.main_menu_collapsed ul ul a{
    font-size: 17px;
    line-height: 50px;
    padding: 10px 0vw; /* Nastavení velikosti položek druhé úrovně */
}
.main_menu_collapsed ul a:hover{
    background-color: #5BC0DE;
    color: #EEE; /* Změna stylu odkazů při najetí myší */
}
.main_menu_collapsed ul ul a:hover{
    background-color: #FFF;
    color: #5BC0DE;
}
#scroller{
    width: calc(100% + 17px);
    height: auto;
    overflow-y: scroll;
    height: 400px;
}