body{
     background-color: #000!important;
}
.contacts-content-wrapper{
    position: relative;
    min-height: 90vh;
    height: auto;
    padding-top: 70px;
    background-color: #000;
    color: #EEE;
}
.table-wrapper{
    width: 66%;
    margin: 0% 17%;
}
.table:last-of-type{
    margin: 80px 0px;
}
.table td{
    width: 50%;
}
.table thead{
    font-size: 18px;
    text-transform: uppercase;
}
.table thead tr td{
    border-bottom: 1px solid #EEE;
}
.table tbody{
    font-size: 15px;
}
.table tbody tr td{
    border: none;
}
.table-hover tbody tr, .table-hover tbody tr td a{
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: alll 0.4 ease;
}
.table-hover tbody tr:hover{
    background-color: #EEE;
    color: #000;
}
.table-hover tbody tr td a{
    color: #EEE;
}
.table-hover tbody tr:hover td a{
    color: #000;
}
.contacts-title{
    width: 100%;
    padding: 40px 0px 60px 60px;
    font-size: 55px;
    text-transform: uppercase;
    color: #FFF;
}
.block-backup-link{
    width: 100%;
    clear: both;
}
.block-backup-link > a{
    display: block;
    width: 100%;
    padding: 75px 0px;
    text-align: center;
    font-size: 25px;
    background-color: #000;
    color: #FFF;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    border-bottom: 1px solid #CCC;
}
.block-backup-link > a:hover{
    background-color: #FFF;
    color: #000;
}