/* DEFAULT FOOTER STYLES */

footer{
    width: 100%;
    height: auto;
    background-color: #EEE;
    color: #777;
}
.footer_content_wrapper{
    margin-bottom: 20px;
    min-height: 200px;
    padding-top: 20px;
}
.footer_content_wrapper:after{
  content: "";
  display: table;
  clear: both;
}
.footer_content{
    width: calc(100%/3 - 1px);
    float: left;
    min-height: 200px;
    text-align: justify;
    padding: 1% 3% 2% 3%;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #CCC;
}
.footer_content:last-child{
    width: calc(100%/3);
}
footer h2{
    margin-bottom: 18px;
}
.footer_content:nth-child(3){
    border-width: 0px 0px 0px 0px;
}
.form_wrapper{
    background-color: #000;
    color: #EEE;
    text-align: center;
    min-height: 100vh;
    height: auto;
    padding: 35px 0px;
}
.form_wrapper > form{
    width: 66%;
    margin: auto;
}
.form_group, .form_wrapper h2{
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}
.form_group > label, .form_group > input, .form_group > textarea{
    display: block;
    width: 100%;
    margin: auto auto 10px auto;
    text-align: left;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}
.form_group > input, .form_group > textarea{
    height: 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #777;
}
.form_group > input{
    text-align: center;
}
.form_group > textarea{
    height: 150px;
    max-height: 450px;
    min-width: 100%;
    max-width: 100%;
}
.form_group input:focus, .form_group textarea:focus{
    box-shadow: 0px 0px 15px #5BC0DE;
}
.form_group label{
    font-size: 20px;
    font-weight: 100;
}
.submit_btn{
    width: 100%;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #EEE;
    color: #EEE;
    height: 60px;
    font-size: 18px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.submit_btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #EEE;
}
.reset_btn:focus{
    box-shadow: none!important;
}
footer .submit_btn:focus{
    background-color: #EEE;
    color: #777;
    box-shadow: 0px 0px 15px #5BC0DE!important;
}
.form_wrapper p{
    text-align: right;
}
footer .form_wrapper{
    min-height: auto;
    background: transparent;
    clear: both;
    color: #777;
}    
footer .form_wrapper label{
    text-align: center;
}
footer .submit_btn{
    color: #777;
    border: 1px solid #CCC;
}
footer .submit_btn:hover{
    box-shadow: 0px 0px 10px #5BC0DE;
    color: #777;
}
.form_invalid::-webkit-input-placeholder {
   color: #D14;
}
footer .form_wrapper p{
    text-align: center;
    color: #D14;
}
footer h3{
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    padding: 15px 0px;
}