.fotorama{
    position: relative;
    background-color: #000;
}
.fotorama--fullscreen .fotorama__nav__shaft{
    display: none!important;
}
.photo-title{
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    color: #FFF;
    opacity: 0;
    background-color: rgba(0,0,0,0.8);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.fotorama:hover .photo-title{
    top: 10px;
    opacity: 0.9;
}
.photo-description{
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #FFF;
}
.photo-description h3{
    position: absolute;
    bottom: 0px;
    font-size: 18px;
    opacity: 0;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
}
.galery{
    left: 2%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
}
.author{
    right: 2%;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.8);
}
.fotorama:hover .photo-description h3{
    opacity: 0.9;
    bottom: 50px;
}
.fotorama--fullscreen:hover .fotorama__html{
    display: none;
}
.backup-button{
    position: fixed;
    bottom: 10px;
    right: 0px;
    z-index: 10000!important;
    padding: 10px 15px;
    opacity: 0;
    border: 1px solid #EEE;
    border-radius: 5px;
    color: #EEE;
    background-color: #000;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.backup-button:hover, .backup-button:focus{
    border: 1px solid #EEE;
    color: #000;
    background-color: #EEE;
}