/* GENERAL WEB STYLES */

*{
    font-family: Trebuchet MS, Helvetica, sans-serif; /* Nastavení fontu webové stránky */
    margin: 0;
    padding: 0; /* Zrušení vnějšího a vnitřního odsazení všech elementů */
}
header, .hidden_description{
    text-transform: uppercase; /* Převod všech znaků na velká písmena */
}
html{
    font-size: 10px;
    overflow: hidden;
}
body, html{
    width: 100%; /* Nastavení šířky dokumentu */
    height: auto; /* Výška v závislosti na obsahu */
    z-index: -10000; /* Vrsta dokumentu nejníže */
}
ul{
    list-style-type: none; /* Zrušení značení položek v seznamech */
    display: block; /* Zobrazení seznamů jako blokových elementů */
}
h1,h2,h3,p,ul{
    margin: 0;
    font-weight: 100;
}
h2{
    font-size: 30px;
}
a, a:hover{
    text-decoration: none!important; /* Zrušení výchozího podtržení odkazů */
}
textarea:focus, input:focus, button:focus{
    outline: none!important;
}
body::-webkit-scrollbar
{
    width: 10px; /* Šířka scrollbaru */
	background-color: #EEE;
}
body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); /* Nastavení vnitřního stínu lišty scrollbaru mimo ukazatel */
	border-radius: 0px; /* Scrollbar bez zaoblených okrajů */
	background-color: #EEE; /* Pozadí lišty scrollbaru (mimo ukazatel) */
}
body::-webkit-scrollbar-thumb
{
    border-radius: 0px; /* Ukazatel scrollbaru bez zaoblených okrajů */
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); /* Vnitřní stín ukazatele scrollbaru */
	background-color: #777; /* Barva ukazatele scrollbaru */
}