/* DEFAULT CSS STYLES FOR HEADER */

.user_admin_bar{
    background-color: #CCC; /* Header background light scheme color */
    padding: 0% 3%;
    height: 48px;
    position: relative;
}
.user_admin_bar p{
    color: #777;
    float: left;
    width: 50%;
    height: 100%;
    line-height: 20px;
    padding: 14px 0px;
    font-size: 20px;
}
.full_resolution_links, .user_admin_bar .dropdown{
    width: 50%;
    float: left;
}
.user_admin_bar .full_resolution_links a{
    color: #777;
    float: right;
    text-align: center;
    min-width: 115px;
    width: 30%;
    line-height: 20px;
    padding: 14px 0px;
    font-size: 16px;
}
.user_admin_bar .dropdown{
    display: none;
    width: 45%;
}
.user_admin_bar .dropdown:hover{
    cursor: pointer;
}
.user_admin_bar .dropdown button{
    font-size: 16px;
    line-height: 20px;
    padding: 14px 0px;
    float: right;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: #777;
}
.user_admin_bar .dropdown .glyphicon{
    font-size: 12px;
}
.user_admin_bar .dropdown:hover button{
    color: #FFF!important;
    background-color: transparent!important;
}
.user_admin_bar .dropdown-menu{
    margin-top: 0px;
    width: 100%;
    min-width: 120px;
    border-radius: 0px;
    border-color: #CCC;
    background-color: #FFF;
}
.user_admin_bar li a{
    color: #CCC;
    text-align: center;
    padding: 3px 0px;
    font-size: 15px;
}
.user_admin_bar li a:hover{
    color: #777;
    background-color: #EEE
}
header{
    background-color: #EEE; /* Header background light scheme color */
    width: 100%; /* Header area 100% width */
    height: auto; /* Header height depends on it's content */
    z-index: 10000; /* Header layer over all others */
    position: fixed; /* Set header position to fixed -> catched to window upper border */
    opacity: 1; /* Default header opacity */
}
h1{
    float: left; /* Logo wrapper align to left */
    width: 36%; /* Set logo wrapper width to 36% of resulution */
    height: 100%; /* Identical height to header wrapper */
    text-align: center; /* Logo text align to center */
    font-size: 35px!important;
    font-weight: bold;
    line-height: 1;
}
h1 a{
    color: #000; /* Logo font darker scheme color */
    display: block; /* Link inside logo as a block element. It covers all the h1 area */
    width: 100%;
    line-height: 50px;
    padding: 10px 4%;
}
h1 a:hover, h1 a:focus{
    text-shadow: 0px 0px 6px #FFF; /* Logo font hover shadow by lighter scheme color */
    color: #5BC0DE; /* Logo font hover by highlight scheme color */
}
.primary_navigation{
    height: 100%;
    width: 64%; /* Main menu width (according to h1 width) */
    margin-left: 36%; /* Left margin of meni menu (according to h1 width) */
}
.main_menu_primary li{
    position: relative;
    display: block; /* List items transfering to the block elements */
    float: left; /* List items floated to left */
    width: 25%; /* Relative width of items in menu (to it's parent element) */
    text-align: center; /* Text in the menu items aligned to center */
}
.main_menu_primary a, .collapsed_navigation a{
    color: #777; /* Menu items font dark scheme color */
    display: block; /* Display the items of primary and collapsed navigation as the block items -> IMPORTANT!!! */
    height: 100%; /* Line-height of the items in primary and collapsed navigation */
    font-size: 25px;
    line-height: 50px;
    padding: 10px 0;
}
.user_admin_bar a:hover, .main_menu_primary li:hover a, #pull:hover, .main_menu_collapsed li a:hover{
    background-color: #5BC0DE; /* Barva pozadí položek první úrovně při najetí myší, výchozí barva pozadí položek druhé úrovně, barva pozadí rozklikávacího #pull tlačítka při najetí myší */
    color: #FFF; /* Změna barvy textu položek první úrovně a #pull tlačítka při najetí myší */
}
.main_menu_primary ul{
    position: absolute;
    background-color: #5BC0DE; /* Zajištění čistého vykreslení pozadí druhé úrovně nabídky -> barva pozadí položek druhé úrovně */
    width: 100%; /* Nastavení shodné šířky s položkou první úrovně */
    top: 70px;
    left: 0px;
    opacity: 0; /* Výchozí skrytý stav */
}
.main_menu_primary li:hover ul{
    opacity: 1; /* Zviditelnění položek druhé úrovně při najetí myši na příslušnou položku první úrovně */
}
.main_menu_primary ul li{
    float: none; /* Zrušení float left pro položku druhé úrovně -> zobrazeny blokově pod sebou */
    width: 100%; /* Šířka položek odpovídá šířce nadřazeného elementu */
    height: 0px; /* Výchozí výška položek */
}
.main_menu_primary li:hover ul li{
    height: 70px; /* Nastavení výšky položek při zobrazení druhé úrovně nabídky */
}
.main_menu_primary ul a{
    height: 0px; /* Zrušení výšky odkazů uvnitř položek druhé úrovně */
    line-height: 0px; /* Zrušení výšky řádkování */
    padding: 0px;
}
.main_menu_primary li:hover ul a{
    line-height: 50px;
    height: auto;
    padding: 10px 0px;
    color: #EEE; /* Barva textu položek druhé úrovně nabídky */
    background-color: #5BC0DE;
}
.main_menu_primary ul li:hover a{
    color: #777;
    background-color: #EEE; /* Barva pozadí položek druhé nabídky při najetí myší*/
}

/* Nastavení přechodu vlastností položek primární nabídky + plynulé vysunutí obsahu při zobrazení druhé úrovně */
/* Nastavení přechodu vlastností položek sekundární nabídky + přechodu vlastností #pull odkazu pro vysunutí collapsed menu */
.user_admin_bar a, h1 a, .main_menu_primary a, .main_menu_primary ul a, .collapsed_navigation a, #pull, #pull:after, .main_menu_primary ul li, .main_menu_primary ul, .user_admin_bar .dropdown button{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Set clearfix to render height of the elements with floating content */
.primary_navigation:after, .main_menu_primary:after, .main_menu_primary li:after, .full_resolution_links:after{
  content: "";
  display: table;
  clear: both;
}