.content_wrapper{
    width: 100%; /* Element s obsahem webu přes celou šířku dokumentu */
    height: auto; /* Výška v závislosti na obsahu */
}
.parallax_wrapper{
    height: auto;
    position: relative; /* Napozicování elementu s parallaxem -> možnost pozicovat vnořené vrstvy */
    padding-top: 70px; /* Výchozí vnitřní odsazení vrstvy s parallaxem (v závislosti na výšce ) */
}
.layer_underlay{
    background-color: #5BC0DE; /* Barva podkladního zvýraznění vrstev s parallaxem */
    position: relative; /* Napozicování jednotlivých vrstev relativně */
    min-width: 100%; /* Šířka vrstem */
    max-width: 100%;
    height: auto;
    z-index: 1; /* Nastavení z-index */
    overflow: hidden;
}
.layer_underlay:nth-child(3){
    z-index: 0; /* Třetí vrstva parallaxu překrývána přechozí vrstvou */
}
.content_layer{
    position: relative;
}
.photo_layer, .layer_underlay:nth-child(5) .blog_layer{
    min-height: 100vh;
    height: 100vh; /* Výška vrstvy s fotografiemi vždy přes 100% rozlišení */
}
.layer_underlay:nth-child(5) .blog_layer:hover{
    background-color: rgba(0,0,0,0.8);
}
.blog_layer{
    height: 100%;
    background-color: #000;
}
.image_wrapper{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.layer_underlay:first-child .image_wrapper{
    -webkit-animation: about_bg_move 4s 1; /* Chrome, Safari, Opera */
    animation: about_bg_move 4s 1;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes about_bg_move{
    0% {background-position: top;}
    100% {background-position: center;}
}
/* Standard syntax */
@keyframes about_bg_move{
    0% {background-position: top;}
    100% {background-position: center;}
}
.layer_underlay:nth-child(2) .image_wrapper{
}
.layer_underlay:nth-child(3) .image_wrapper{
    opacity: 0.82;
}
.layer_underlay:nth-child(4) .image_wrapper{
    opacity: 0.82;
}
.layer_underlay:hover .image_wrapper{
    opacity: 0.82;
}
.layer_underlay:nth-child(3) .image_wrapper:hover,.layer_underlay:nth-child(4) .image_wrapper:hover{
    opacity: 1;
}
.content_layer .text_area{
    position: absolute; /* Text uvnitř vrstev pozicován od jejich levého horního rohu */
    top: 0;
    width: 100%; /* Nastavení šířky */
    height: 100%;
    text-align: center;
    color: #EEE;
}
.content_layer a{
    display: block; /* Zobrazení odkazu jako blokového elementu */
    width: 100%;
    height: 100%;
    text-align: center;/* Odkaz zaujímá celou plochu parallax vrstvy -> pro odkazové vrstvy do fotogalerie, blogu */
}
.text_area span{
    position: absolute;
    top: 42%;
    display: block;
    width: 66%;
    margin: 0% 17%;
    padding: 4%;
    border-radius: 5px;
    border: 2px solid #5BC0DE; /* Nastylizování orámování odkazu do fotogalerie */
    color: #5BC0DE;
    font-size: 25px;
    font-weight: bold;
}
.layer_underlay:first-child .text_area{
    top: 35%;
    opacity: 0.85;
    text-align: right;
    width: 80%;
    max-height: 50%;
    height: auto;
    padding: 2%;
    background-color: #31B0D5;
    -webkit-animation: basic_inf_move 6s 1; /* Chrome, Safari, Opera */
    animation: basic_inf_move 6s 1; 
}
.layer_underlay:nth-child(6) .text_area, .layer_underlay:nth-child(7) .text_area{
    width: 66%;
    min-height: 200vh;
    margin: 0% 17%;
    padding-top: 12%;
    position: relative;
}
.layer_underlay:first-child .text_area p{
    margin-top: 12px;
    font-size: 17px;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes basic_inf_move {
    0% {left: -90%;
        opacity: 0;}
    100% {left: 0%;
          opacity: 0.85;}
}
/* Standard syntax */
@keyframes basic_inf_move {
    0% {left: -90%;
        opacity: 0;}
    100%{left: 0%;
         opacity: 0.85;}
}
.hidden_description_trigger{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 8%;
}
.hidden_description_trigger .glyphicon{
    position: relative;
    top: 48%;
    left: 40%;
    color: #FFF;
    width: 50%;
    font-size: 30px;
    line-height: 1.33;
}
.hidden_description_trigger .hidden_description{
    position: inherit;
    left: -500%;
    background-color: #31B0D5;
    width: 500%;
    opacity: 0;
    padding: 125% 50% 0% 0%;
    text-align: right;
    font-size: 30px;
}
.hidden_description div:last-of-type{
    position: relative;
    top: 40px;
}
.hidden_description_trigger:hover .hidden_description{
    left: 0%;
    opacity: 0.8;
}
.content_layer:hover .text_area span{
    background-color: #5BC0DE;
    color: #EEE
}
.article_photo_underlay{
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #5BC0DE;
}
.article_photo{
    display: block;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}
.article_photo_underlay:hover .article_photo{
    opacity: 0.8;
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
}
.layer_underlay:nth-child(6) .article_photo{
}
.layer_underlay:nth-child(7) .article_photo{
}
.blog_layer p, .blog_layer h3{
    margin-bottom: 15px;
    text-align: left;
}
.article_title{
    color: #EEE;
    font-size: 30px;
    text-align: left;
    display: inline!important;
}
.article_title:hover{
    color: #5BC0DE;
}
.blog_layer p{
    font-size: 16px;
}
.blog_layer p:last-child{
    margin-top: 50px;
}
.blog_layer p:last-child a{
    font-size: 18px;
    color: #EEE;
    border-radius: 5px;
    border: 1px solid #EEE;
    padding: 2%;
}
.blog_layer p:last-child a:hover{
    color: #000;
    background-color: #EEE;
}
.form_wrapper{
    background-color: #000;
    color: #EEE;
    text-align: center;
    min-height: 100vh;
    height: auto;
    padding-top: 35px;
    padding-bottom: 50px;
}
form{
    width: 66%;
    margin: auto;
}
.form_group, .form_wrapper h2{
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}
.form_wrapper label,input,textarea{
    display: block;
    width: 100%;
    margin: auto auto 10px auto;
    text-align: left;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
}
input,textarea{
    height: 40px;
    border-radius: 5px;
    border: 1px solid transparent;
    color: #777;
}
input{
    text-align: center;
}
textarea{
    height: 150px;
    max-height: 450px;
    min-width: 100%;
    max-width: 100%;
}
.form_wrapper input:focus, .form_wrapper textarea:focus{
    box-shadow: 0px 0px 15px #5BC0DE;
}
.form_wrapper label{
    font-size: 20px;
    font-weight: 100;
}
.submit_btn, .reset_btn{
    width: 100%;
    background: transparent;
    border: 1px solid #EEE;
    color: #EEE;
    height: 60px;
    font-size: 18px;
}
.submit_btn:hover, .reset_btn:hover{
    cursor: pointer;
    color: #000;
    background-color: #EEE;
}
.reset_btn:focus, .submit_btn:focus{
    background-color: #FFF;
    color: #000;
    box-shadow: none!important;
}
.form_wrapper p{
    text-align: right;
}
.modal{
    padding-top: 100px;
}
.modal h4{
    text-align: left;
}
.glyphicon{
    padding-right: 8px;
    position: relative;
    top: 3px;
}
.multiple-info-msg{
    margin-left: 26px;
}
/* Trasition delayed elements */
.blog_layer, .image_wrapper, .text_area span, .hidden_description_trigger .hidden_description, .article_photo_overlay, .article_title, .blog_layer p:last-child a{
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
}