.photogalery-content-wrapper{
    position: relative;
    height: auto;
    min-height: 150vh;
    padding-top: 70px;
    background-color: #000;
}
.photogalery-content-wrapper:after{
    content: "";
    display: table;
    clear: both;
}
.photogalery-title{
    width: 100%;
    padding: 40px 0px 40px 60px;
    font-size: 55px;
    color: #FFF;
}
.galery-container{
    position: relative;
    float: left;
    width: 33.3333333%;
    min-height: 90vh;
    max-height: 90vh;
    background-color: #5BC0DE;
}
.galery-block-link{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 0px;
    background-size: cover;
    background-position: center;
    background-color: #000;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.galery-container:hover > .galery-block-link{
    opacity: 0.8;
}
.galery-container:hover > h2 > a{
    background-color: #FFF;
    color: #000;
}
.galery-container > h2{
    position: absolute;
    top: 40%;
    width: 70%;
    margin: 0% 15%;
}
.galery-container > h2 > a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    text-align: center;
    border: 2px solid #FFF;
    box-sizing: content-box;
    color: #FFF;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.empty-galery-msg{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #777;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
}
.photogalery-content-wrapper:hover .empty-galery-msg{
    color: #CCC;
}
#empty-galery-info-modal{
    margin-top: 100px;
}
.modal-footer > h4{
    text-align: left;
    font-size: 20px;
}
.block-backup-link{
    width: 100%;
    clear: both;
}
.block-backup-link > a{
    display: block;
    width: 100%;
    padding: 75px 0px;
    text-align: center;
    font-size: 25px;
    background-color: #000;
    color: #FFF;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    border-bottom: 1px solid #CCC;
}
.block-backup-link > a:hover{
    background-color: #FFF;
    color: #000;
}