body{
     background-color: #000!important;
}
.portfolio-content-wrapper{
    position: relative;
    min-height: 90vh;
    height: auto;
    padding-top: 70px;
    background-color: #000;
    color: #EEE;
}
.portfolio-title{
    width: 100%;
    padding: 40px 0px 60px 60px;
    font-size: 55px;
    text-transform: uppercase;
    color:  #FFF;
}
.portfolio-boxes-wrapper:after{
    content: "";
    clear: both;
    display: table;
}
.portfolio-box{
    position: relative;
    float: left;
    height: 350px;
    overflow: hidden;
    margin: 0.25%;
    background-color: #5BC0DE;
}
.box-1, .box-7{
    width: 59.5%;
}
.box-2, .box-6{
    width: 39.5%;
}
.box-3{
    width: 99.5%;
}
.box-4, .box-5{
    width: 49.5%;
}
.portfolio-box-photo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 0.4s ease;
    opacity: 0.85;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.portfolio-box:hover .portfolio-box-photo{
    opacity: 1;
    cursor: pointer;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.portfolio-box-photo-description{
    position: absolute;
    top: 120%;
    right: 20px;
    padding: 5px;
    background-color: rgba(0,0,0,0.8);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
.portfolio-box:hover .portfolio-box-photo-description{
    top: 85%;
}
.block-backup-link{
    width: 100%;
    clear: both;
}
.block-backup-link > a{
    display: block;
    width: 100%;
    padding: 75px 0px;
    text-align: center;
    font-size: 25px;
    background-color: #000;
    color: #FFF;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    border-bottom: 1px solid #CCC;
}
.block-backup-link > a:hover{
    background-color: #FFF;
    color: #000;
}