/* RESPONSIVE WEB STYLES */


@media screen and (max-width: 991px){ /* Definice stylů pro zařízení s malým rozlišením */
    .collapsed_navigation{
        display: block; /* Zobrazení nabídky pro malá rozlišení */
    }
    .primary_navigation{
        display: none; /* Skrytí primární nabídky pro zařízení s vyšším rozlišením */
    }
    h1{
        width: 100%; /* Nastavení šířky loga pro malá rozlišení*/
        text-align: center; /* Zarovnání textu loga na střed */
    }
    .parallax_wrapper{
        padding-top: 140px;
    }
    .photo_layer, .layer_underlay:nth-child(5) .blog_layer{
        min-height: 750px;
        height: 750px;
    }
    .article_photo_underlay{
        height: 500px;
    }
    .form_wrapper{
         min-height: 450px;
    }
    .layer_underlay:nth-child(6) .text_area, .layer_underlay:nth-child(7) .text_area, .article-wrapper{
        min-height: 1250px;
        height: auto;
    }
    .layer_underlay:nth-child(6) .text_area, .layer_underlay:nth-child(7) .text_area, form, .article-wrapper, .pagination-info-wrapper, .pagination-controls-wrapper{
        width: 84%;
        margin: 0% 8%;
    }
    .article_photo, .article-title-photo-underlay{
        height: 450px;
    }
    .hidden_description_trigger .hidden_description{
        left: -1250%;
        width: 1250%;
    }
    footer{
        height: auto;
    }
    .footer_content_wrapper{
        padding-top: 30px;
    }
    .footer_content, .footer_content:last-child{
        float: none;
        width: 100%;
        border: none;
        padding: 2% 8%;
        margin-bottom: 8%;
    }
    .rstools-categories-wrapper, .tab-content-wrapper, .rstools-categories-wrapper li a{
       width: 100%;
       background-color: <?php echo $_SESSION['userStyles'][0]['light_color'] ?>;
    }
    .rstools-categories-wrapper li:hover a, .rstools-categories-wrapper li.active a{
        border-radius: 0px;
    }
    .admin-section-wrapper{
        padding-top: 48px;
    }
    .rstools-categories-wrapper li a{
        padding: 20px 15px;
    }
    .tab-content-wrapper{
        padding: 40px 15px 40px 15px;
        text-align: center;
    }
    
    .nav-tabs li{
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
    .nav-tabs, .nav-tabs li a{
        border: none!important;
    }
    .tab-content{
        padding-top: 25px;
    }
    #photo-add-label{
        margin: 30px auto!important;
    }
    #article-add-form .article-add-title-photo-label1{
        margin-top: 40px!important;
    }
    .article-add-title-photo-label2{
        margin: 5px auto 0px auto!important;
    }
    .article-add-title-photo-label2:last-of-type{
        margin: 5px auto 30px auto!important;
    }
    .galery-edit-description, .galery-edit-buttons, .article-edit-description, .article-edit-buttons, .category-edit-description, .category-edit-buttons{
        width: 100%;
        float: none;
    }
    .galery-edit-buttons .delete-button, .galery-edit-buttons .edit-button, .article-edit-buttons .delete-button, .article-edit-buttons .edit-button, .category-edit-buttons .delete-button, .category-edit-buttons .edit-button{
        position: relative;
        left: auto;
        right: auto;
        top: 20px;
    }
    .photogalery-content-wrapper, .blog-content-wrapper, .contacts-content-wrapper, .portfolio-content-wrapper{
        padding-top: 140px;
    }
    .galery-container{
        width: 50%;
    }
    .first, .last, .previous, .next{
        padding: 10px;
    }
    .pagination-controls-wrapper .previous{
        left: 110px;
    }
    .pagination-controls-wrapper .next{
        right: 97px;
    }
}
@media screen and (max-width: 767px) { /* Definice stylů pro velmi malá rozlišení */
    h1{
        text-align: left; /* Zarovnání textu loga doleva a jeho zalomení na 2 řádky při velmi nízkém rozlišení */
    }
    .user_admin_bar p{
        width: 55%;
        font-size: 16px;
    }
    .full_resolution_links{
        display: none;
    }
    .user_admin_bar .dropdown{
        display: block;
    }
    .photogalery-title, .blog-title, .article-title-top, .contacts-title, .portfolio-title{
        padding: 40px 0px;
        text-align: center;
    }
    .galery-container{
        width: 100%;
        min-height: 700px;
        max-height: 700px;
    }
    .category-select-form input{
        float: none;
        width: 100%;
        clear: both;
        margin: 20px 0px 0px 0px!important;
    }
    .first, .last, .previous, .next{
        padding: 5px;
        border-radius: 4px;
    }
    .pagination-controls-wrapper .previous{
        left: 100px;
    }
    .pagination-controls-wrapper .next{
        right: 87px;
    }
}
@media screen and (max-width: 351px){
    h1{
        font-size: 30px!important;
    }
    .parallax_wrapper{
        padding-top: 188px; /* Odsazení elementu s parallaxem při zalomení řádky v logu */
    }
    .galery-edit-buttons{
        height: auto;
    }
    .galery-edit-buttons .delete-button,  .galery-edit-buttons .edit-button{
        margin: 15px 0px;
    }
     .user_admin_bar p{
        font-size: 15px;
    }
}