{block styles}
    <link rel="stylesheet" type="text/css" href="{$basePath}/../app/css/log-reg-background.css">
{/block}

{block scripts}
{/block}

{block content}
    <div class="form-wrapper centered col-11 col-md-6 col-lg-5 col-xl-3">
        <h1 n:block="title">Eventer</h1>
        <h2>Registration</h2>
        {control registerForm}
        <a class="btn btn-lg btn-block btn-secondary" n:href="Homepage:">Back to login</a>
    </div>
{/block}

{define modal-registration-title}
    Registration message
{/define}

{define modal-registration-body}
    {foreach $flashes as $flash}
        <p class="flash {$flash->type}">{$flash->message}</p>
    {/foreach}
{/define}

{define modal-registration-footer}
    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
{/define}