/* Styl CSS pro stylizaci aktualit */

#index-preview{
    background-image: url("../images/img02-min.jpg");
}

#actualities-wrapper{
    padding: 0 5%;
}

h1{
    padding-top: 0.6em;
}

#content{
    padding: 0 0 6em 0;
}

.item-wrapper{
    padding-bottom: 2em;
    border-bottom: dashed 0.1rem #FFF;
}

#last{
    border-bottom: none;
}

#content h2{
    margin-top: 4rem;
}

#content ul{
    list-style-type: none;
}

#content dl, #content dt, #content dd{
    display: inline;
    margin: 0;
    color: #AAA;
}

#display-switch-wrapper{
    margin-top: 6em;
    line-height: 3em;
    text-align: center;
}

/*#display-switch-wrapper a{
    padding: 1rem 2rem;
    border: 1px solid #EEE;
    border-radius: 3px;
    background-color: #222;
    color: #EEE;
}

#display-switch-wrapper a:hover{
    background-color: #EEEEEE;
    color: #222222;
}*/

#content .tags{
    display: none;
}

#display-switch-wrapper span{
    padding: 1rem 2rem;
    border: 0.1rem solid #888;
    border-radius: 0.2rem;
    background-color: #111;
    color: #888;
}

#display-switch-wrapper a{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}