/* Globální styly CSS */

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #333;
}

body, h1{
    margin: 0;
}

h1{
    font-size: 2.5em;
}

h2{
    font-size: 1.7em;
}

h3{
    font-size: 1.3em;
}

a{
    text-decoration: none;
}

*:focus{
    outline: auto 0.1rem #00FFFF !important;
}

#content{
    height: 100%;
    background-color: #111;
    color: #FFF;
}