/* Styly CSS pro stylizaci patičky webu */

#footer{
    background-color: #222;
    padding: 0 5% 1em 5%;
    color: #FFF;
}

#footer h3{
    padding-top: 1em;
}

#footer-box-wrapper{
    margin-bottom: 2em;
}

.footer-box{
    float: left;
    width: 50%;
}

.footer-box dl > dt{
    font-size: 1em;
}

.footer-box ul{
    list-style-type: none;
    padding: 0;
}

.footer-box a{
    color: #00FFFF;
    text-decoration: underline;
}

.footer-box a:hover{
    text-decoration: none;
}

.footer-box li{
    margin: 0.6em 0;
}

.footer-box:nth-child(2) li{
    display: inline-block;
    margin-right: 1em;
}

.footer-box span{
    display: none;
    font-size: 1rem;
}

.footer-box .fa{
    display: inline;
    font-size: 2.4em;
}

#twitter{
    margin-left: 0.4em;
}

#footer #copyright, #footer #last-change{
    display: block;
}

#footer #copyright, #footer .footer-sec-spec{
    margin: 0;
    text-align: center;
}

#footer .footer-sec-spec{
    padding-top: 1em;
    font-size: 1.3em;
    font-weight: bold;
}

#footer dt{
    margin-top: 1em;
}


#footer #last-change{
    margin-top: 2em;
    font-size: 0.8em;
    text-align: right;
}

.inactive, .actual{
    color: #FFF;
    text-decoration: none;
}

.info-box, #enter-link-wrapper a{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#info-boxes-wrapper:after, #footer-box-wrapper:after{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 68rem){

    #footer .footer-contacts dd{
        margin-left: 1rem;
    }

}