/* Styly CSS pro stylizaci hlavní nabídky webu */

#header-top{
    position: relative;
    width: 100%;
    background-color: #111;
    height: 4em;
    box-shadow: 0 0.3rem 0.7rem #111;
    z-index: 10;
}

/* Nastavení zobrazení loga, wrapperu hlavní navídky a položek hlavní nabídky */
#header h1, #logo,  #header .full-navigation-wrapper, #header ul, #header li{
    display: inline-block;
}

#header-top a{
    color: #FFF;
    display: block;
}

/* Logo zaujímá 40% šířky hlavičky webu */
#header h1, #logo {
    float: left;
    width: 40%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
}

#logo{
    font-size: 2em;
    font-weight: bold;
}

/* Hlavní nabídka zaujímá 60% hlavičky webu */
#header .full-navigation-wrapper{
    width: 60%;
    height: 4em;
}

/* Stylizace položek hl. nabídky */
#header ul{
    width: 100%;
    height: 4em;
    margin: 0;
    padding: 0;
}

/* Stylizace seznamu v hlavní nabídce */
#header ul li{
    float: left;
    width: 20%;
    list-style-type: none;
}

#header .actual{
    text-align: center;
    font-size: 1.2rem;
    line-height: 4rem;
    background-color: #FFF;
    color: #111;
}

#header .inactive, #header .inactive:hover{
    color: #999;
    line-height: 4rem;
    text-align: center;
    font-size: 1.2rem;
}

#header ul a {
    text-align: center;
    font-size: 1.2rem;
    line-height: 4rem;
}

#header ul li:hover a{
    background-color: #FFF;
    color: #111;
}

#header h1:hover a, #header #logo:hover a{
    text-shadow: 0.1rem 0.1rem 0.5rem #FFF;
}

.min-navigation-wrapper{
    display: none;
    position: relative;
    height: 4em;
    box-shadow: 0 0.6rem 0.7rem #222;
}

#header .min-navigation-wrapper ul{
    display: none;
    float: none;
    height: 100%;
}

#header .min-navigation-wrapper li{
    display: block;
    float: none;
    background-color: #111;
}

#pull{
    width: 100%;
    height: 4rem;
}

#pull button{
    display: block;
    width: 100%;
    padding: 0 1.5rem 0 0;
    line-height: 4rem;
    font-size: 1.8rem;
    text-align: right;
    border: none;
    background-color: #333;
    color: #FFF;
    cursor: pointer;
}

#pull span{
    padding-left: 1rem;
    font-size: 2rem;
    line-height: 4rem;
}

#pull button:hover{
    background-color: #FFF;
    color: #333;
}

#header .min-navigation-wrapper, #header .min-navigation-wrapper ul li{
    width: 100%;
}

#header .min-navigation-wrapper .actual{
    background-color: #FFF;
    color: #111;
    font-size: 1.2em;
}

#index-preview{
    height: 17em;
    background-position: center;
    background-size: cover;
}

#header .crumb-navigation-wrapper{
    padding: 0.4rem 5% 0 5%;
    list-style-type: none;
    font-size: 1.1em;
    color: #FFF;
    background-color: #111;
}

.crumb-navigation{
    display: inline-block;
    padding-left: 1em;
}

#header .crumb-navigation a{
    text-decoration: underline;
    color: #00FFFF;
}

#header .crumb-navigation a:hover{
    text-decoration: none;
}

#header-top a, #pull button{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (max-width: 68rem){

    #header .full-navigation-wrapper{
        display: none;
    }

    #header h1, #logo{
        float: none;
        width: 100%;
    }

    .min-navigation-wrapper{
        display: block;
    }

}

@media screen and (max-width: 28.2666666667rem){

    #header h1, #logo{
        font-size: 1.5em !important;
    }

    #header #pull button, #header #pull .fa{
        font-size: 1.4em;
    }

}