/* Styly CSS pro obsah úvodní stránky webu */



#header h1{
    font-size: 2em;
    color: #FFF;
}

#index-preview{
    background-image: url("../images/img01-min.jpg");
}

#content p, #content h3, #content h2{
    text-align: center;
}

h2{
    margin-top: 0;
    padding-top: 1em;
    font-size: 1.3em;
}

#content a{
    color: #FFF;
}

#welcome-text{
    padding: 0.6em 5% 4em 5%;
}

#info-boxes-wrapper{
    padding: 0 5% 0 5%;
}

.info-box{
    display: block;
    position: relative;
    float: left;
    width: 28.33%;
    min-height: 28rem;
    margin: 0 2.5% 0 2.5%;
    background-color: #333;
    border-radius: 0.2rem;
}

.info-box-content{
    width: 90%;
    height: 100%;
    padding: 5%;
    text-align: center;
}

.info-box-content a{
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.2rem;
    text-align: center;
    text-decoration: underline;
    font-size: 1.1rem;
}

#content .info-box a:hover{
    color: #111;
    background-color: #FFF;
}

#content .fa{
    display: block;
    margin: 3rem 0 0 0;
    text-align: center;
    font-size: 6em;
}

#enter-link-wrapper{
    margin-top: 6em;
    margin-bottom: 6em;
    text-align: center;
}

#enter-link-wrapper p{
    padding: 0 5%;
    font-size: 1.1em;
}

#enter-link-wrapper p:nth-child(3){
    margin-bottom: 2em;
}

#enter-link-wrapper a{
    padding: 1rem 2rem;
    margin-top: 2em;
    border: 0.1rem solid #FFF;
    border-radius: 0.2rem;
}

#enter-link-wrapper a:hover{
    background-color: #FFF;
    color: #111;
}

.info-box-content a{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (max-width: 68rem){

    .info-box{
        width: 95%;
        margin-bottom: 2em;
    }

}