/* Styl CSS pro stylizaci aktualit */

#index-preview{
    background-image: url("../images/img20-min.jpg");
}

#contacts-wrapper{
    padding: 0 5%;
}

h1{
    padding-top: 0.6em;
}

#content{
    padding: 0 0 6em 0;
}

#content h2{
    margin-top: 4rem;
}

#content dl{
    margin-top: 0;
}

#content dt{
    padding-top: 1em;
}

#content dd{
    padding-bottom: 0;
}

dl > dt{
    font-size: 1.2em;
}

dl > dd > dl > dt{
    font-size: 1.1em;
}

.opening-time dl{
    margin-bottom: 0;
}

#content .opening-time dl dt{
    padding-top: 0;
}

#content .opening-time dl:first-child dt{
    padding-top: 1em;
}

#contact-form{
    width: 50%;
    margin-top: 2em;
}

.form-item-wrapper{
    margin: 1em 0;
}

.form-item-wrapper label{
    display: block;
    width: 100%;
}

#contact-form input, #contact-form textarea{
    width: 100%;
    padding: 0;
    border: none;
    background-color: #FFF;
    border-radius: 0.2rem;
}

#contact-form input{
    height: 2em;
}

#contact-form #submit-btn{
    height: 3em;
    background-color: #111;
    border: 0.1rem solid #FFF;
    color: #FFF;
    cursor: pointer;
}

#contact-form #submit-btn:hover{
    background-color: #FFF;
    color: #111;
}

#contacts-wrapper a{
    text-decoration: underline;
    color: #00FFFF;
}

#contacts-wrapper a:hover{
    text-decoration: none;
}

#mapa{
    width: 100%;
    height: 26em;
    margin: 2em 0;
}

#contact-form #submit-btn{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (max-width: 68rem){

    #contact-form{
        width: 100%;
    }

}