/* Styl CSS pro stylizaci sekce o divadle */

#index-preview{
    background-image: url("../images/img03-min.jpg");
}

h1{
    padding: 0.6em 5% 0 5%;
}

.info-text{
    padding: 0 5% 0 5%;
}

.about-box{
    position: relative;
}

.about-box-content{
    position: relative;
    z-index: 5;
    padding: 3em 5% 6em 5%;
}

.about-box-content h2{
    margin-top: 0;
}

#theatre::after{
    content: "";
    display: block;
    background-image: url("../images/img04-min.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.05;
}

#band::after{
    content: "";
    display: block;
    background-image: url("../images/img05-min.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.05;
}

#actors::after{
    content: "";
    display: block;
    background-image: url("../images/img06-min.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.05;
}

#art::after{
    content: "";
    display: block;
    background-image: url("../images/img07-min.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.05;
}

#arena::after{
    content: "";
    display: block;
    background-image: url("../images/img08-min.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.05;
}

#media::after{
    content: "";
    display: block;
    background-image: url("../images/img09-min.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0.05;
}