
@media print {

    * {
        color: #000 !important;
        box-shadow: 0 0 0 #FFF !important;
        border: none !important;
    }

    #header-bottom {
        display: none;
    }

    #header #logo a {
        display: none;
    }

    #header #logo {
        font-size: 2.5em !important;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: left;
    }

    #header .nav {
        display: none;
    }

    #content h1 {
        margin-bottom: 1em;
        padding-top: 0;
    }

    #welcome-text {
        padding-bottom: 1em;
    }

    #content h2{
        margin-top: 1.5em;
        margin-bottom: 0.8em;
    }

    #content .item-wrapper{
        padding-bottom: 0;
    }

    #content .about-box-content{
        padding: 0 5%;
    }

    #content img{
        width: 60%;
        text-align: center;
        margin: 0.1em 0;
    }

    #enter-link-wrapper, #display-switch-wrapper, #choice-wrapper, #footer, #month-switcher, #page-switcher, #content #contact-form, #contact-form-item, #sell_wrapper{
        display: none;
    }

}