#index-preview{
    background-image: url("../images/img18-min.jpg");
}

#romeo_a_julie-wrapper{
    padding: 0 5% 6em 5%;
}

h1{
    padding-top: 0.6em;
}

.info-text{
    padding-bottom: 3em;
}

.urgent{
    color: #FF5A40;
}

#arena_map{
    float: left;
    width: 50%;
    margin-top: 2em;
}

#sell_wrapper{
    float: right;
    width: 42%;
    padding-left: 8%;
}

h2{
    font-size: 1.5em;
}

.form-item{
    padding: 0.8em 0;
}

label{
    line-height: 2.5em;
}

.form-item select{
    width: 8em;
    height: 2.5em;
    border-radius: 0.2rem;
}

#final-price-wrapper{
    margin: 2em 0;
    font-size: 1.4em;
}

#sell-buttons-wrapper .action-btn{
    float: right;
    margin: 0.5em 1.5em;
    width: 9em;
    height: 4em;
    line-height: 4em;
    border-radius: 0.2rem;
    border: 0.1rem solid #FFF;
    background-color: #111;
    color: #FFF;
    text-align: center;
    cursor: pointer;
}

#sell-buttons-wrapper .action-btn:hover{
    background-color: #FFF;
    color: #111;
}

#romeo_a_julie-wrapper::after{
    content: "";
    display: table;
    clear: both;
}

#stat-bar{
    display: block;
    font-size: 1.1em;
    padding-top: 2rem;
    clear: both;
    color: limegreen;
}

#sale{
    margin-top: 30em;
}

#other{
    margin-top: 2em;
}

#sell-buttons-wrapper .action-btn{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media screen and (max-width: 68rem){

    #arena_map, #sell_wrapper{
        width: 100%;
    }

}
