/* Styl CSS pro stylizaci sekce o vystoupení */

#index-preview{
    background-image: url("../images/img10-min.jpg");
}

#content{
    padding: 0 0 6em 0;
}

h1{
    padding-top: 0.6em;
}

.info-text{
    margin-bottom: 3em;
}

#vystoupeni-wrapper{
    padding: 0 5%;
}

#month{
    margin-top: 2em;
    font-size: 1.4em;
}

dl{
    width: 100%;
    margin-top: 2em;
    color: #FFF;
}

dt, dd{
    height: 5em;
    margin-left: 0;
    background-color: #222;
    border-radius: 0.2rem;
}

dt{
    line-height: 5rem;
}

dd{
    display: block;
    float: right;
    width: calc(90% - 0.2rem);
    margin-bottom: 0.2rem;
    text-align: right;
}

dd strong{
    display: block;
    padding: 1.8em 0;
1}

dd.inactive{
    color: #AAA;
}

dt{
    display: block;
    width: 10%;
    float: left;
    margin-bottom: 0.2rem;
    text-align: center;
}


.urgent{
    color: #FF5A40;
}

td:hover a .urgent{
    color: #111;
}

#choice-wrapper{
    margin: 2em 0;
    text-align: right;
    font-size: 1.1rem;
}

#choice-wrapper strong{
    text-decoration: underline;
    margin: 0 0.5rem 0 1rem;
}

#month-switcher, #page-switcher{
    width: 100%;
    margin-top: 1em;
}

#month-switcher #back-button, #page-switcher #back-button{
    float: left;
    color: #888;
    border-color: #888;
}

#month-switcher #forward-button, #page-switcher #forward-button{
    float: right;
    color: #888;
    border-color: #888;
}

#display-switch-wrapper{
    margin-top: 6em;
    line-height: 3em;
    text-align: center;
}

#display-switch-wrapper a, #back-button, #forward-button{
    width: 8rem;
    padding: 1rem 0;
    border: 0.1rem solid #FFF;
    border-radius: 0.2rem;
    background-color: #111;
    text-align: center;
    color: #FFF;
}

#display-switch-wrapper a{
    padding: 1rem 2rem;
}

#display-switch-wrapper a:hover{
    background-color: #FFF;
    color: #111;
}

td a, #display-switch-wrapper a, #back-button, #forward-button, .urgent{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#choice-wrapper:after, #month-switcher, #page-switcher{
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 28.2666666667rem){

    #choice-wrapper span, #choice-wrapper strong{
        display: block;
        width: 100%;
        text-align: center;
        margin: 0.4rem 0;
    }

}
