.item-wrapper{
    padding-bottom: 2em;
    border-bottom: 0.1rem dashed #FFF;
}

#last{
    border-bottom: none;
}

#content h2{
    margin-top: 4rem;
}

.photo-block{
    text-align: center;
}

.photo-block img{
    display: inline-block;
    width: 30%;
    opacity: 1;
}

.photo-block img:hover{
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

#page-switcher{
    position: relative;
    text-align: center;
}

#page-switcher #forward-button, #page-switcher #back-button{
    color: #888;
    border-color: #888;
    cursor: auto;
}

#page-switcher button:hover{
    color: #888;
    border-color: #888;
    background-color: #111;
}

#page-switcher #forward-button{
    position: absolute;
    top: 0;
    right: 0;
}

#page-switcher p{
    margin: 0;
    line-height: 4em;
    text-align: center;
}

.photo-block img{
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}