<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="description" content="Application for events planning">
    <meta name="keywords" content="Calendar, Event, Plan">
    <meta name="author" content="Petr Pondelik">
	<meta name="viewport" content="width=device-width initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Baumans' rel='stylesheet'>
    <link href="{$basePath}/../app/css/custom.css" rel="stylesheet" type="text/css">
    {include styles}
	<title>{ifset title}{include title|stripHtml}{/ifset}</title>
</head>

<body>

    {include content}

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" n:snippet="modal">
                {ifset $modal}
                    <div class="modal-header">
                        <h3 class="modal-title" id="modalTitle">
                            {ifset #modal-$modal-title}{include #"modal-$modal-title"}{/ifset}
                        </h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {ifset #modal-$modal-body}{include #"modal-$modal-body"}{/ifset}
                    </div>
                    {ifset #modal-$modal-footer}
                        <div class="modal-footer">
                            {include #"modal-$modal-footer"}
                        </div>
                    {/ifset}
                {/ifset}
            </div>
        </div>
    </div>

    <script src="{$basePath}/../app/js/lib/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{$basePath}/../app/js/lib/nette.ajax.js"></script>
    <script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
    <script src="{$basePath}/../app/js/main.js"></script>
    <script src="{$basePath}/../app/js/nette-modal.js"></script>
    {include scripts}

</body>

</html>
