<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Account activation</title>
</head>
<body>
    <h1>Eventer account activation</h1>
    <p>Dear Users, welcome to the Eventer application! Ure are just one step from using our application. All You need to do is click the link below to activate Your account.</p>
    <a n:href="Activation: $activationCode, $userId">Activate</a>
</body>
</html>