html, body{
    height: 100%;
}

body{
    font-family: 'Baumans', "Trebuchet MS", Helvetica, sans-serif;
}

h1{
    font-size: 50px;
}

ul{
    list-style-type: none;
}

.hidden{
    display: none;
}

.centered{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

#homepage-wrapper{
    position: relative;
    height: 100%;
}

#confirmation-alert{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
}

#heading-wrapper{
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 80px;
    padding: 10px;
    background-image: url('../img/funky-lines.png');
    box-shadow: 0 2px 5px #bbbbbb;
}

.spacer{
    height: 90px;
}

#heading-wrapper h1{
    float: left;
    height: 100%;
    line-height: 60px;
}

#heading-wrapper a{
    float: right;
    margin-top: 6.2px
}

#content-wrapper{
    display: flex;
    height: calc(100% - 90px);
    padding: 25px 10px;
}

#calendar {
    float: left;
}

#events-list-wrapper{
    padding: 50px 25px 25px 25px;
}

#events-list-wrapper, #events-list-wrapper a{
    color: #f2f2f2;
}

#events-list-wrapper li{
    display: block;
}

#events-list-wrapper li a{
    position: absolute;
    right: 25px;
}

#toggle-events-list{
    position: fixed;
    z-index: 100;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
    -webkit-transform: translate(-100%, -100%);
}

input.form-control:focus{
    outline: none;
}

.form-wrapper{
    margin: auto;
}

.form-wrapper h1, .form-wrapper h2{
    text-align: center;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

/* The side events list */
.side-list {
    height: 100%; /* 100% Full-height */
    width: 40%; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 80px;
    right: -40%;
    background-color: #121212; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
#close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#homepage-wrapper {
    transition: margin-right .5s;
}

.fc-day-grid:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    #content-wrapper {
        padding: 25px 0;
    }
}